html {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  max-width: 1228px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  body {
    padding: 0 12px;
  }
}
/* 메뉴바 */
.top-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 10px;
}
.top-logo {
  width: 97px;
  height: 59px;
}
@media (max-width: 768px) {
  .top-nav {
    padding: 20px 10px;
  }

  .top-logo {
    width: 95px;
    height: 60px;
  }
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.nav-items.mobile {
  display: none;
}
.nav-items li a {
  text-decoration-line: none;
  color: black;
}
@media (max-width: 768px) {
  .nav-items {
    display: none;
  }
  .nav-items.mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  .nav-items li {
    font-size: 16px;
  }
}

.top-sns {
  display: flex;
  gap: 20px;
  align-items: center;
}
.top-sns img {
  width: 30px;
  height: 30px;
}
/* 소개 */
.introduce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 200px;
}
.intro-img {
  max-width: 100%;
  height: auto;
}
.intro-txt {
  font-size: 58px;
  font-weight: bold;
  display: flex;
  line-height: 70px;
  letter-spacing: -1px;
}
.name {
  background: linear-gradient(
    120deg,
    #13b0f5 -2.06%,
    #e353f7 100%
  ); /*deg는 그라데이션 각도*/
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .introduce {
    display: flex;
    padding-top: 68px;
    padding-bottom: 160px;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .intro-txt {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .intro-img {
    display: flex;
    align-items: center;
  }
}
/* 테크 스택 */
.techStack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 300px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  gap: 50px;
  justify-content: stretch;
  align-content: stretch;
  place-items: center;
}

.icon {
  width: 100px; /* 아이콘 너비 */
  height: 100px; /* 아이콘 높이 */
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.icon img {
  width: 100%;
}
.title-txt {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

/* grid 반응형 대응 */
@media (max-width: 1240px) {
  .icon-grid {
    /*   grid-gap: 60px; */
    grid-gap: 24px;
  }
}
@media (max-width: 1120px) {
  .icon-grid {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(4, 1fr);
    /*   grid-gap: 60px; */
  }
}
@media (max-width: 1024px) {
  .icon-grid {
    /*   grid-gap: 60px; */
  }
}

@media (max-width: 768px) {
  .icon-grid {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(3, 1fr);
    /*   grid-gap: 60px; */
  }
}

@media (max-width: 480px) {
  .icon-grid {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(2, 1fr);
    /*   grid-gap: 60px; */
  }
}

/*프로젝트*/
.project-section {
  margin-bottom: 200px;
}
.projectContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.project-items {
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.project-thumbnail {
  width: 100%;
  height: 256px;
  /* 위쪽 둥글게 둥글게 */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* 배경 이미지 가운데 정렬, 가득차게 */
  background-image: url("./images/profile_dog.png");
  background-position: center;
  background-size: cover;
}
.project-content {
  padding: 30px;
  /* 세로 간격(gap)을 일정하게 주기 위해 flex 적용 */
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.project-content h4 {
  font-size: 24px;
  font-weight: 700;
}
.project-desc {
  font-size: 18px;
  font-weight: 300;
}
.project-tech-stack {
  font-size: 16px;
  font-weight: 400;
}
.project-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.project-link img {
  height: 20px;
}
.project-link a {
  display: flex;
  gap: 12px;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
}

/* grid 반응형 대응 */
@media (max-width: 1240px) {
  .projectContainer {
    /*   grid-gap: 48px 60px; */
    grid-gap: 16px 24px;
  }
}
@media (max-width: 1120px) {
  .projectContainer {
    grid-gap: 48px 60px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 10px 16px; */
  }
}
@media (max-width: 1024px) {
  .projectContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px 60px;
  }
}

@media (max-width: 768px) {
  .projectContainer {
    /*   grid-gap: 48px 60px; */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px 30px;
  }
}

@media (max-width: 480px) {
  .projectContainer {
    /*   grid-gap: 48px 60px; */
    grid-gap: 24px 30px;
  }
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  gap: 52px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-upper {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 97px;
  height: 59px;
}
.footer-contact {
  display: flex;
  gap: 40px;
  align-items: center;
  /* 텍스트 스타일 */
  color: #42446e;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer-contact a {
  /* 기본속성으로 적용되어 있는 언더라인 제거 */
  color: #42446e;
  text-decoration: none;
}
.footer-sns {
  display: flex;
  gap: 20px;
}
.footer-sns img {
  height: 20px;
}
.hr {
  border: solid 1px;
  width: 100%;
}
@media (max-width: 768px) {
  .footer-contact {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
  .footer-contact .tel {
    display: none;
  }
  footer {
    gap: 24px;
  }
}
